@using MVCPROJE.Data;
<h3> Extra Malzeme Seçimi</h3>
<h4> Malzemeler</h4>

@model List<Urun>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Ad </th>
		</tr>
		<tr><td>Hardal 3 TL</td></tr>
		<tr><td>Ketçap 3TL </td></tr>
		<tr><td>Mayonez 3TL </td></tr>
		<tr><td>Domates 3 TL</td></tr>
		<tr><td>Soğan 3 TL</td></tr>
		<tr><td>Biber 3 tL</td></tr>
		<tr><td>Soğan Halkası 15 TL</td></tr>
		<tr><td>Baharatlı Patates Kızartması 15TL</td></tr>
		<br />
			</table>
		<a class="btn btn-outline-danger" asp-action="ExtraEkle" asp-controller="Home">URUN EKLE</a>

		