@using MVCPROJE.Data;
@{
    ViewData["Title"] = "Home Page";
}
@model Menu
<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz.Sipariş vermek için Sipariş Oluştur'a tıklayınız.</h1>

</div>
