@using MVCPROJE.Data;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout2";
}
@model Urun
<a class="btn btn-outline-success" asp-action="Ekle" asp-controller="Home">ÜRÜN EKLE</a>